* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, "Segoe UI";
}

body {
    background-color: linear-gradient(135deg, #eef2ff, #f8fafc);
    padding: 30px;
    min-height: 100vh;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 12px;
}

.input-container input {
    width: 320px;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    outline: none;
}

.input-container input:focus {
    border-color: #6366f1;
}

.input-container button {
    padding: 12px 18px;
    font-size: 15px;
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #4f46e5;
}

#board {
    display: flex;
    gap: 20px;
    margin: auto;
    max-width: 1100px;
}

.column {
    flex: 1;
    background-color: #fffffe;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.column h2 {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    color: #1f2933;
}

#todo h2 {
    background-color: #e0e7ff;
}

#doing h2 {
    background-color: #fef3c7;
}

#done h2 {
    background-color: #dcfce7;
}


.task-list {
    min-height: 350px;
    flex: 1;
    padding: 5px;
}

.task {
    background-color: #f8fafc;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    cursor: grab;
    border-left: 5px solid #6366f1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0,08);
}

@media (max-width: 768px) {
    #board {
        flex-direction: column;
    }
    .input-container {
        flex-direction: column;
        align-items: center;
    }

    .input-container input {
        width: 100%;
        max-width: 350px;
    }
}